/sponet_cv_testing/testlog.log
/sponet_cv_testing/complete_log.log
/sponet_cv_testing/models/
/data/networks/
/CONFIG.json
/data/results/
/data/data_log.log
/sponet_cv_testing/runfiles/
/sponet_cv_testing/tmp_results/
/tests/templates/
/tests/
/runfiles/
/tmp_results/
/complete_log.log
/testlog.log
/testparam_array.txt
/testgraph
/data/tmp_data/
/test_space/
/data/test_results/
